/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-color: #555555;
  --secondary-color: #303030;
  --accent-color: #ff6c00;
  --inverse-accent-color: #9da4bd;
  --inverse-main-color: #ffffff;
  --inverse-label-color: rgba(157, 164, 189, 0.6);
  --placeholder-color:rgba(157, 164, 189, 0.4);
  --bg-color: #191C26;
  --bg-light-color: #F7F7F7;
  --grid__item: 1;
}

.section {
  padding: 84px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  padding: 130px 0;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  box-sizing: inherit;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  color: var(--secondary-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus, .link:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .link {
    padding: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--inverse-label-color);
  margin-bottom: 20px;
}

.line::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

@media screen and (max-width: 479px) {
  .line::before {
    width: 40px;
  }
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--inverse-accent-color);
}

@media screen and (max-width: 767px) {
  .copyright {
    margin-bottom: 44px;
  }
}

.dark-bg {
  background-color: var(--bg-color);
}

sup {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    padding-left: 31px;
    padding-right: 31px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.content-box {
  flex-basis: calc((100% - 30px) / 2);
}

.logo {
  display: block;
}

@media screen and (max-width: 767px) {
  .logo {
    fill: var(--inverse-main-color);
  }
}

.title {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section-title {
  font-size: 42px;
  line-height: 1.17;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .section-title {
    max-width: 420px;
  }
}

.section-title--accent {
  font-size: 42px;
  line-height: 1.17;
  color: var(--inverse-main-color);
  margin-bottom: 44px;
}

.section-title--backdrop {
  text-align: center;
}

.menu {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu__item:not(:last-child) {
    margin-right: 24px;
  }
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 100;
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.icon-menu {
  width: 24px;
  height: 16px;
  fill: var(--inverse-main-color);
}

.icon-close {
  width: 18px;
  height: 18px;
  display: none;
}

.is-open .icon-close {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 337px;
  height: 100vh;
  z-index: 100;
  padding: 118px 40px 60px;
  background: var(--inverse-main-color);
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  transition: right 0.5s;
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu--mobile {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}

.button--mobile {
  width: 194px;
  text-align: center;
}

.feedback {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feedback {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .feedback {
    display: none;
  }
}

.feedback__item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .feedback__item:not(:last-child) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .feedback--mobile {
    display: flex;
    flex-direction: column;
  }
  .feedback__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .feedback__item:first-child {
    margin-top: 64px;
  }
}

.button_thumb {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  width: 160px;
  height: 40px;
  padding: 12px 0;
  border-radius: 25px;
  color: var(--inverse-main-color);
  background-color: transparent;
  border: 1px solid #ff6c00;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  color: var(--inverse-main-color);
  background-color: var(--accent-color);
}

.button--inverse {
  color: var(--secondary-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--inverse-main-color);
}

.social__link:hover .social__icon,
.social__link:focus .socials__icon {
  fill: var(--accent-color);
}

.social__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list {
  margin-bottom: 64px;
}

.pages {
  display: none;
}

@media screen and (min-width: 768px) {
  .pages {
    display: flex;
    justify-content: flex-end;
  }
}

.pages__list {
  display: inline-flex;
  padding-bottom: 40px;
  padding-right: 55px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .pages__list {
    padding-bottom: 24px;
    padding-right: 39px;
  }
}

.pages__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
}

.pages__link:hover, .pages__link:focus {
  color: var(--inverse-main-color);
}

.pages__link--active {
  position: relative;
  color: var(--inverse-accent-color);
}

.pages__link--active::after {
  position: absolute;
  content: ' ';
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.web--rotate {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 115px;
  bottom: 0;
}

.web__list {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .web__list {
    margin-top: 44px;
    margin-bottom: 79px;
  }
}

@media screen and (max-width: 767px) {
  .web__list--rotate {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .web__list--rotate {
    transform: rotate(-90deg) translateX(22%);
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .web__list--rotate {
    transform: rotate(-90deg) translateX(30%) translateY(15%);
    padding-bottom: 158px;
  }
}

.web__item {
  margin-left: 20px;
  padding: 0;
}

@media screen and (max-width: 479px) {
  .web__item {
    margin-left: 10px;
  }
}

.web__item--mobile {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
}

.web__list--mobile {
  display: flex;
  flex-direction: column;
}

.modal-form {
  position: relative;
  font-size: 0;
  background-color: var(--bg-color);
}

.modal-form__label:not(:last-child) {
  margin-right: 30px;
}

.modal-form__input {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    max-width: 260px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal-form__input {
    width: 418px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__input {
    width: 330px;
  }
}

.modal-form__textarea {
  resize: none;
  min-height: 76px;
  width: 100%;
}

.modal-form__input,
.modal-form__textarea {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--inverse-main-color);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--inverse-accent-color);
}

.modal-form__input:focus,
.modal-form__textarea:focus {
  outline: none;
  border-bottom-color: var(--inverse-main-color);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-form__input,
  .modal-form__textarea {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__textarea {
    width: 690px;
  }
}

.modal-form__input::placeholder,
.modal-form__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--placeholder-color);
}

.modal-form__input:focus::placeholder,
.modal-form__textarea:focus::placeholder {
  color: var(--inverse-main-color);
}

.modal-form__input:invalid,
.modal-form__textarea:invalid {
  color: red;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__thumb {
    display: flex;
  }
}

.backdrop {
  position: fixed;
  z-index: 120;
  background-color: rgba(255, 255, 255, 0.521);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-close {
  z-index: 200;
  padding: 0;
  margin-right: 8px;
  margin-top: 8px;
  position: absolute;
  width: 24px;
  height: 24px;
  border: none;
  top: 0;
  right: 0;
  background-color: var(--inverse-main-color);
}

.btn-close:hover, .btn-close:focus {
  background-color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form--backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  width: 630px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.header {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    padding: 40px 0;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  margin-right: 70px;
}

.header__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--inverse-main-color);
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  align-items: flex-end;
  background-image: url(../images/hero_desktop/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero_desktop/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(/images/hero_desktop/hero.jpg);
    background-position: 115px 0;
    min-width: 1600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: url(/images/hero_tablet/hero_tablet.jpg);
    background-position: 110px 0;
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url(/images/hero_mobile/hero_mobile.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero_desktop/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero_tablet/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__content {
    max-width: 500px;
    padding-top: 272px;
    padding-bottom: 206px;
  }
}

@media screen and (max-width: 767px) {
  .hero__content {
    max-width: 306px;
    margin-left: 31px;
    padding-top: 208px;
    padding-bottom: 183px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__content {
    max-width: 355px;
    padding-top: 156px;
    padding-bottom: 191px;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__label {
  color: var(--inverse-label-color);
}

.hero__title {
  font-size: 48px;
  line-height: 1.17;
  color: var(--inverse-main-color);
}

@media screen and (max-width: 479px) {
  .hero__title {
    font-size: 43px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__text {
  color: var(--inverse-accent-color);
}

@media screen and (max-width: 1199.98px) {
  .hero__text {
    font-size: 16px;
    line-height: 1.63;
  }
}

.hero__container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  padding: 130px 0;
}

@media screen and (max-width: 767px) {
  .about__container {
    display: block;
  }
}

.about__label {
  color: var(--secondary-color);
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 40px;
}

.about__description {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about__description {
    font-size: 16px;
    line-height: 2.35;
  }
}

@media screen and (min-width: 1200px) {
  .about__description {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (max-width: 767px) {
  .about__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about__list {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about__item {
    max-width: 330px;
  }
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .about_title {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.05em;
  }
}

.benefits__label {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  color: #303030;
  letter-spacing: 0.05em;
}

.benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.benefits__item {
  flex-basis: calc((100% - 2 * 30px) / 6 * 2);
  text-align: center;
  background-color: var(--bg-light-color);
  width: 194px;
  height: 133px;
  padding: 20px;
}

.benefits__item:nth-child(2n) {
  transform: translateY(35px);
}

@media screen and (max-width: 1199.98px) {
  .benefits_container {
    flex-direction: column-reverse;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    flex-basis: calc((100% - 30px) / 2);
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1199.98px) {
  .benefits__description {
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 767px) {
  .benefits {
    padding-bottom: 79px;
  }
}

.prices {
  background-image: url(/images/prices_desktop/prices_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(/images/prices_desktop/prices_desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .prices {
    background-image: url(/images/prices_desktop/prices_desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .prices {
    background-image: url(/images/prices_tablet/prices_tablet.jpg);
  }
}

@media screen and (max-width: 767px) {
  .prices {
    background-image: url(/images/prices_mobile/prices_mobile.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(/images/prices_desktop/prices_desktop@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(/images/prices_tablet/prices_tablet@2x.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(/images/prices_mobile/prices_mobile@2x.jpg);
  }
}

.prices__wrap {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .prices__wrap {
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .prices__wrap {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.prices__list {
  flex-basis: 50%;
  color: var(--inverse-accent-color);
}

@media screen and (min-width: 1200px) {
  .prices__list {
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .prices__list:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199.98px) {
  .prices__item {
    margin-bottom: 20px;
  }
}

.prices__item:not(:last-child) {
  margin-bottom: 20px;
}

.pages__item:not(:first-child) {
  margin-left: 26px;
}

.prices__servise {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .prices__servise {
    font-size: 14px;
    line-height: 2.15;
  }
}

.prices__servise::after {
  content: '';
  display: block;
  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}

@media screen and (max-width: 767px) {
  .prices__cost {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__container {
    width: calc(100% / 6 * 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__container {
    padding: 0;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  color: var(--inverse-accent-color);
}

.contacts__icon {
  margin-right: 16px;
  stroke: var(--inverse-accent-color);
  fill: transparent;
  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon:hover, .contacts__icon:focus {
  stroke: var(--accent-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    max-width: 260px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:first-child) {
    font-size: 18px;
    line-height: 1.4;
  }
}

.contacts__list {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__list {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .contacts__list {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 47px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}

.info__label {
  color: var(--inverse-main-color);
  margin-bottom: 20px;
}

.info__text {
  color: var(--inverse-accent-color);
}

.info__container {
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .info {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.team {
  background-color: var(--bg-light-color);
}

@media screen and (max-width: 1199.98px) {
  .team__list {
    justify-content: center;
  }
}

.team__item {
  --grid__item: 1;
  align-items: center;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid__item: 3;
    max-width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 34px;
  }
}

.team__title {
  margin-bottom: 44px;
}

.team__content {
  font-weight: 400;
  text-align: center;
}

.team__name {
  font-weight: 400;
}

@media screen and (max-width: 1199.98px) {
  .team__name {
    font-size: 18px;
    line-height: 1.39;
    margin-top: 30px;
    margin-bottom: 8px;
    color: var(--secondary-color);
  }
}

.team__text {
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--accent-color);
}

.gallery__label {
  margin-bottom: 44px;
}

@media screen and (max-width: 767px) {
  .gallery__label {
    max-width: 418px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.91;
  }
}

@media screen and (max-width: 1199.98px) {
  .gallery__list {
    justify-content: center;
  }
}

.gallery__item {
  --grid__item: 1;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .gallery__item {
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .gallery__item {
    --grid__item: 2;
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    --grid__item: 4;
    max-width: 270px;
  }
}

.footer {
  padding: 56px 0;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__container {
    align-items: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .dark-bg__container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .dark-bg__container {
    padding-left: 39px;
    padding-right: 39px;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .adress-thumb {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .adress-thumb {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 479px) {
  .dark-bg__text {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__list {
    line-height: 1.37;
  }
}
/*# sourceMappingURL=main.css.map */