.feedback {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.feedback__item:not(:last-child) {
  margin-right: 40px;
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .feedback--mobile {
    display: flex;
    flex-direction: column;
  }
  .feedback__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .feedback__item:first-child {
    margin-top: 64px;
  }
}
