.modal-form {
  position: relative;
  font-size: 0;
  background-color: var(--bg-color);
}

.modal-form__label:not(:last-child) {
  margin-right: 30px;
}

.modal-form__input {
  width: calc((100% - 30px) / 2);
  padding-bottom: 8px;

  @media screen and (min-width: 1200px) {
    max-width: 260px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 418px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 330px;
  }
}
.modal-form__textarea {
  resize: none;
  min-height: 76px;
  width: 100%;
}

.modal-form__input,
.modal-form__textarea {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--inverse-main-color);
  background-color: transparent;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--inverse-accent-color);

  &:focus {
    outline: none;
    border-bottom-color: var(--inverse-main-color);
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form__input::placeholder,
.modal-form__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--placeholder-color);
}

.modal-form__input:focus::placeholder,
.modal-form__textarea:focus::placeholder {
  color: var(--inverse-main-color);
}

.modal-form__input:invalid,
.modal-form__textarea:invalid {
  color: red;
}
