.web--rotate {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 115px;
  bottom: 0;
}

.web__list {
  display: inline-flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 64px;
  }
}

.web__list--rotate {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    transform: rotate(-90deg) translateX(30%);
    padding-bottom: 158px;
  }
}

.web__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  margin-left: 20px;
}
