.web-pages__list {
  display: inline-flex;
  align-items: center;
}
.hero .web-pages__list {
  transform: rotate(-90deg) translateX(50%);
  padding-bottom: 58px;
}

.web-pages__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  margin-left: 20px;
}

.hero .web-pages {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 115px;
  bottom: 0;
}
