html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  box-sizing: inherit;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  color: var(--secondary-color);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-color);

  margin-bottom: 20px;
}

.line::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  @media screen and (max-width: 479px) {
    width: 40px;
  }
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--inverse-accent-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 44px;
  }
}

.dark-bg {
  background-color: var(--bg-color);
}

sup {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  vertical-align: super;
}
