:root {
  --primary-color: #555555;
  --secondary-color: #303030;
  --accent-color: #ff6c00;
  --inverse-accent-color: #9da4bd;
  --inverse-main-color: #ffffff;
  --inverse-label-color: rgba(157, 164, 189, 0.6);
  --placeholder-color:rgba(157, 164, 189, 0.4);
  --bg-color: #191C26;
  --bg-light-color: #F7F7F7;





  --grid__item: 1;
}
