

.about__label {
  color: var(--secondary-color);
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-bottom: 40px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}
.content-box {
  flex-basis: calc((100% - 30px) / 2);
}
.description {
  margin-bottom: 20px;
}
