.contacts__container {
  // max-width: 270px;
  width: calc(100% / 6 * 4);
}

.contacts__icon {
  margin-right: 16px;
  stroke: var(--inverse-accent-color);
  fill: transparent;
}

.contacts__link {
  color: var(--inverse-accent-color);
}

