.header {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;

  width: 100%;
  padding: 32px 0;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  margin-right: 70px;
}

.header__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--inverse-main-color);
}
