.hero {
  display: flex;
  align-items: center;
  position: relative;
  align-items: flex-end;

  background-image: url(/images/hero_desktop/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/hero_desktop/hero@2x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/images/hero_desktop/hero.jpg);
    background-position: 115px 0;
    min-width: 1600px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    background-image: url(/images/hero_tablet/hero_tablet.jpg);
    background-position: 120px 0;
    min-width: 768px;
  }
  @media screen and (max-width: 767px) {
    background-image: url(/images/hero_mobile/hero_mobile.jpg);
  }
}

@media screen and (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(/images/hero_desktop/hero@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(/images/hero_tablet/hero_tablet@2x.jpg);
    }
  }
}

.hero__content {
  @media screen and (min-width: 1200px) {
    max-width: 500px;
    margin-left: 200px;
    padding-top: 272px;
    padding-bottom: 206px;
  }

  @media screen and (max-width: 767px) {
    max-width: 306px;
    margin-left: 31px;
    padding-top: 208px;
    padding-bottom: 183px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    max-width: 355px;
    padding-top: 156px;
    padding-bottom: 181px;
    margin-top: 156px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__label {
  color: var(--inverse-label-color);
}

.hero__title {
  font-size: 48px;
  line-height: 1.17;
  color: var(--inverse-main-color);

  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__text {
  color: var(--inverse-accent-color);

  @media screen and (max-width: 1199.98px) {
    font-size: 16px;
    line-height: 1.63;
  }
}
