.info__label {
  color: var(--inverse-main-color);
  margin-bottom: 20px;
}
.info__text {
  color: var(--inverse-accent-color);
}

.info__container {
  padding: 0;
}

.info {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
