.team {
  background-color: var(--bg-light-color);
}

.team__item {
  --grid__item: 3;
  max-width: 370px;
  align-items: center;
}

.team__content {
  text-align: center;
}

.team__title {
  margin-bottom: 44px;
}
