.team {
  background-color: var(--bg-light-color);
}

.team__list {
  @media screen and (max-width: 1199.98px) {
    justify-content: center;
  }
}

.team__item {
  --grid__item: 1;
  align-items: center;
  max-width: 420px;
  background-color: aqua;

  @media screen and (min-width: 1200px) {
    --grid__item: 3;
    max-width: 370px;
  }
}

.team__title {
  margin-bottom: 44px;
}
.team__content {
  text-align: center;
}
