.team {
  background-color: var(--bg-light-color);
}

.team__list {
  @media screen and (max-width: 1199.98px) {
    justify-content: center;
  }
}

.team__item {
  --grid__item: 1;
  align-items: center;
  max-width: 450px;

  @media screen and (min-width: 1200px) {
    --grid__item: 3;
    max-width: 370px;
  }
}

.team__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 34px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 34px;
  }
}

.team__title {
  margin-bottom: 44px;
}
.team__content {
  font-weight: 400;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
  }
}

.team__name {
  font-weight: 400;

  font-size: 18px;
  line-height: 1.39;
  margin-top: 30px;
  margin-bottom: 8px;

  color: var(--secondary-color);
}

.team__text {
  font-size: 14px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--accent-color);
}
